body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f3e8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.account-form-container {
  background-color: #dfd9cb;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #999;
  width: 400px;
}

.account-form {
  text-align: center;
}

h2 {
  margin: 10px 0;
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-row {
  display: flex;
  gap: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 20px;
  outline: none;
  flex: 1;
}

textarea {
  border-radius: 15px;
  resize: none;
}

button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.image-upload {
  position: relative;
  width: 70px;
  margin: 0 auto 10px auto;
}

.image-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
}

.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove-btn {
  position: absolute;
  top: -1px;
  right: -20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}


.image-upload.has-image .remove-btn {
  display: flex;
}

#profile_image,
#remove_image {
  display: none;
}

.birthday-label {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

#calculated_age {
  font-weight: bold;
  min-width: 20px;
}