.left-contents {
  position: fixed;
  left: 0;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

.left-contents::-webkit-scrollbar {
  width: 6px;
}

.left-contents::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}